body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.image {
    width: 150px;
    border-radius: 6px;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffcad4;
    color: #2b2839;
    border-bottom: 6px solid #f4a261;
}
.border-blue {
    border: 1px dotted blue;
}